:root{

    --background-color: #e3e2da;
    --prymary-color: #d4e09bff;
    --tea-green: #cbdfbdff;
    --dark-salmon: #f19c79ff;
    --medium-carmine: #a44a3fff;

    --text-color: #ffffff;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

body{
    background: linear-gradient(80deg, #22192b 10%,#333399 100% );
    color: var(--text-color);
}

.navbar{
    margin-bottom:10px;
}

.card{
    height:300px;
    margin-bottom:10px;
}

.card > img{
    object-fit: cover;
    object-position:top;
    height: 15vh;
}

.jumbotron{
    padding:100px 0px;
}

.container h2{
    text-align:center;
    margin-bottom:35px;
}


/* relevant styles */
.img__wrap {
  position: relative;
  display:flex;
}

.img__description {
  font-size:x-large;
  top: 77px;
  left: 0;
  right: 0;
  color: #171716;
  visibility: hidden;
  opacity: 0;
  margin:auto;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  color:white;
}

.img__img {
    width:100%;
    height:100%;
    object-fit:cover;
}

#comboA{
    background-color: #6f1c72a8;
    color: white;
    }


.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #151515;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}