{% macro navbar() %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/BTCUSDT">BTCUSDT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ETHUSDT">ETHUSDT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/DOGEUSDT">DOGEUSDT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endmacro %}