:root{

    --background-color: #e3e2da;
    --prymary-color: #d4e09bff;
    --tea-green: #cbdfbdff;
    --dark-salmon: #f19c79ff;
    --medium-carmine: #a44a3fff;

    --text-color: #232323;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar{
    margin-bottom:10px;
}

.card{
    height:300px;
    margin-bottom:10px;
}

.card > img{
    object-fit: cover;
    object-position:top;
    height: 15vh;
}

.jumbotron{
    padding:100px 0px;
}

.container h2{
    text-align:center;
    margin-bottom:35px;
}