{% extends "base.html" %}

{% block title %}Coin page{% endblock %}

{% block content %}
    <div class='spinner-wrapper'>
        <div class="spinner"></div>
    </div>
    <div class="container" style="height:calc(100vh - 66px);">
        {% if data['time'] != [] %}
            <div class="row">
                <div class="col-lg-3 col-12">
                    <h1>{{data['coin'][0]}}</h1>
                </div>
                <div class="col-lg-3 col-12"></div>
                <div class="col-lg-3 col-12"></div>
                <div class="col-lg-3 col-12">
                    <span style="text-align:center;display:block;">STRATEGY</span>
                    <select id="comboA" class="form-select" aria-label="Default select example">
                      <option selected>Select an option</option>
                      <option value="1">Last day</option>
                      <option value="2">Last week</option>
                    </select>
                </div>
            </div>
                <h3 style="display:inline;font-size: xxx-large;">{{data['close'][-1]}}</h3>
                <h4 style="display:inline;" id="perc"></h4>
        {% endif %}
<!--        <form act="" method="post">-->
<!--            <input type="submit" class="btn btn-outline-secondary" id="actualizar" name="actualizar" value="Refresh" style="margin-top:10px;" />-->
<!--        </form>-->
        {% if data['time'] != [] %}
            <div class="row">
                <div class="col-lg-6 col-12">
                        <canvas id="line-chart"></canvas>
                </div>
                <div class="col-lg-6 col-12">
                        <canvas id="bar-chart"></canvas>
                </div>
            </div>
            <div class="row" style="margin-top:2rem;">
                <div class="col-lg-3 col-2"></div>
                <div class="col-lg-6 col-8">
                    <p id="action-to-do" style="text-align:center;color:white;font-size:2rem;"></p>
                </div>
                <div class="col-lg-3 col-2"></div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block particularscripts %}
<script>
    let spinnerWrapper = document.querySelector('.spinner-wrapper');

    window.addEventListener('load', function () {
        // spinnerWrapper.style.display = 'none';
        spinnerWrapper.parentElement.removeChild(spinnerWrapper);
    });


    document.getElementById("comboA").onchange = function(evt){
        var value = evt.target.value;
        if (value==1){
                document.getElementById("perc").innerHTML = (({{data["close"][-1]}}-{{data["close"][-2]}})/{{data["close"][-2]}}*100).toFixed(2).toString() + "%";
                if ({{data["close"][-1]}}-{{data["close"][-2]}} < 0){
                    document.getElementById("perc").style.color = "red";
                    document.getElementById("action-to-do").innerHTML = "TIME TO BUY";
                    document.getElementById("action-to-do").style.background = "green";
                }
                else{
                    document.getElementById("perc").style.color = "green";
                    document.getElementById("action-to-do").innerHTML = "TIME TO SELL";
                    document.getElementById("action-to-do").style.background = "red";
                }
            }
        else{
                document.getElementById("perc").innerHTML = (({{data["close"][-1]}}-{{data["close"][-8]}})/{{data["close"][-8]}}*100).toFixed(2).toString() + "%";
                if ({{data["close"][-1]}}-{{data["close"][-8]}} < 0){
                    document.getElementById("perc").style.color = "red";
                    document.getElementById("action-to-do").innerHTML = "TIME TO BUY";
                    document.getElementById("action-to-do").style.background = "green";
                }
                else{
                    document.getElementById("perc").style.color = "green";
                    document.getElementById("action-to-do").innerHTML = "TIME TO SELL";
                    document.getElementById("action-to-do").style.background = "red";
                }
            }
    };

    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: [{% for item in data["time"] %}
                    "{{item.split(' ')[0]}}",
                   {% endfor %}],
        datasets: [{
            data: [{% for item in data["close"] %}
                    "{{item}}",
                   {% endfor %}],
            label: '{{ data["coin"][0] }}',
            backgroundColor: "#ffffff",
            borderColor: "#ffffff",
            borderWidth: 0.6,
            pointRadius: 0,
            fill: false
          },
          {
          label: 'Buy points',
          data: [{% for i in range(data["close"]|length) %}
                    {% if data['close'][i] > 44000 and data['coin'][i] == 'BTCUSDT' %}
                        {{data["close"][i]}},
                    {% else %}
                        'NaN',
                    {% endif %}
                   {% endfor %}],
          backgroundColor: "#38ab6c",
          borderColor: "#38ab6c",
          borderWidth: 0,
          fill: false
        },
        {
          label: 'Close points',
          data: [{% for i in range(data["close"]|length) %}
                    {% if data['close'][i] < 38000 and data['coin'][i] == 'BTCUSDT' %}
                        {{data["close"][i]}},
                    {% else %}
                        'NaN',
                    {% endif %}
                   {% endfor %}],
          backgroundColor: "#cf082d",
          borderColor: "#cf082d",
          borderWidth: 0,
          fill: false
        }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: 'PRICE'}
        }
    });

    // Bar chart
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: [{% for item in data["time"] %}
                    "{{item.split(' ')[0]}}",
                   {% endfor %}],
          color: "#ffffff",
          datasets: [
            {
              label: "Volume",
              backgroundColor: "#ffffff",
              data: [{% for item in data["volume"] %}
                    "{{item}}",
                   {% endfor %}]
            },

          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'VOLUME'
            }
        }
    });
</script>
{% endblock %}