{% extends "base.html" %}

{% block title %}Strategies{% endblock %}

{% block content %}
    <div class="container">
        {% for key in ['Baseline', 'Ensemble principals', 'Local points'] %}
            <h2>{{title_strategies[key]}}</h2>
            <p style="text-align:center;">{{text_strategies[key]}}</p>
            <div style="max-width:70%;margin:auto; margin-bottom:6%;">
                <img src="{{images_links[key][0][0]}}" alt="{{images_links[key][0][1]}}" style="width:100%;height:100%;">
            </div>
        {% endfor %}
    </div>


{% endblock %}
{% block particularscripts %}
{% endblock %}